<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>A server side error occured</h1>
    <p>We're working to fix this error. Sorry for the inconvenience!</p>

<%- include('includes/end.ejs') %>